body {
    background-color: #D7D0C8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topNav {
    background-color: darkgreen;
}
.topNavO {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.topNavBtn {
    color: white;
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 1.8em;
    padding-top: 0.7em;
    position: relative;
    right: 2em;
    text-shadow: black 0px 3px 4px;
}

.historyTitle {
    text-align: center;
    font-size: 60px;
    color: #064004;
    position: relative;
    top: 20px;
    font-family: "Alike Angular", serif;
    font-weight: 400;
    font-style: normal;
}

.historyContent {
    background-color: #D7D0C8;
    height: 200vh;
    margin: 0;
    &:before {
        content: '';
        position: absolute;
        top: 253px;
        left: 50%;
        height: 1000px;
        transform:translate(-50%);
        width: 4px;
        background-color:#064004;
    }
    .timeline {
        width:calc(100% - 80px);
        max-width: 800px;
        margin:auto;
        position: relative;
        left: -5px;
        top: 40px;
        .entry {
            width:calc(50% - 80px);
            float: left;
            padding: 20px;
            clear: both;
            text-align: right;
            &:not(:first-child) {
                margin-top:-60px;
            }
            .entryTitle {
                font-size: 32px;
                margin-bottom: 15px;
                position: relative;
                color: #064004;
                &:before {
                    content: '';
                    position: absolute;
                    width: 8px; 
                    height: 8px;
                    border: 4px solid #ffffff;
                    background-color: #1d1d1d;
                    border-radius: 100%;
                    top: 50px;
                    transform: translateY(-50%);
                    right: -73px;
                    z-index: 1000;
                }
                &.big:before {
                    width: 24px;
                    height: 24px;
                    transform:translate(8px, -50%);
                }
            }

            .entryTitle2 {
                font-size: 32px;
                margin-bottom: 12px;
                position: relative;
                color: #064004;
                &:before {
                    content: '';
                    position: absolute;
                    width: 8px; 
                    height: 8px;
                    border: 4px solid #ffffff;
                    background-color: #1d1d1d;
                    border-radius: 100%;
                    top: 50px;
                    transform: translateY(-50%);
                    left: -63px;
                    z-index: 1000;
                }
                &.big:before {
                    width: 24px;
                    height: 24px;
                    transform:translate(8px, -50%);
                }
            }

            .historyBody {
                color:#064004;
                p {
                    line-height: 1.4em;
                    margin-bottom: 50px;
                }
            }
            &:nth-child(2n) {
                text-align: left;
                float: right;
                .entryTitle {
                    &.before {
                        left: -63px;
                    }
                    &.big:before {
                        transform: translate(-8px, -50%);
                    }
                }
            }
        }
    }
}

.gridTable {
    background-color: #A6BEAC;
    margin: 20px 1in;
    padding: 0.5in;
    height: 100vh;
    margin: 0;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
  }
  
  .gridItem {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  
  .gridImage {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
  }
  
  .gridTitle {
    font-weight: bold;
    font-size: 20px;
  }
  
  .gridContent {
    font-size: 16px;
    text-align: center;
  }
