body {
    background-color: #D7D0C8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topNav {
    background-color: darkgreen;
}
.topNavO {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.topNavBtn {
    color: white;
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 1.8em;
    padding-top: 0.7em;
    position: relative;
    right: 2em;
    text-shadow: black 0px 3px 4px;
}

.historyTitle {
    text-align: center;
    font-size: 60px;
    color: #064004;
    position: relative;
    top: 20px;
    font-family: "Alike Angular", serif;
    font-weight: 400;
    font-style: normal;
}

.historyContent {
    background-color: #D7D0C8;
    height: 200vh;
    margin: 0;
    &:before {
        content: '';
        position: absolute;
        top: 253px;
        left: 50%;
        height: 820px;
        transform:translate(-50%);
        width: 4px;
        background-color:#064004;
    }
    .timeline {
        width:calc(100% - 80px);
        max-width: 800px;
        margin:auto;
        position: relative;
        left: -5px;
        top: 40px;
        .entry {
            width:calc(50% - 80px);
            float: left;
            padding: 20px;
            clear: both;
            text-align: right;
            &:not(:first-child) {
                margin-top:-60px;
            }
            .entryTitle {
                font-size: 32px;
                margin-bottom: 15px;
                position: relative;
                color: #064004;
                font-family: "Alegreya SC", serif;
                font-weight: 400;
                font-style: normal;
                &:before {
                    content: '';
                    position: absolute;
                    width: 8px; 
                    height: 8px;
                    border: 4px solid #ffffff;
                    background-color: #1d1d1d;
                    border-radius: 100%;
                    top: 50px;
                    transform: translateY(-50%);
                    right: -73px;
                    z-index: 1000;
                }
                &.big:before {
                    width: 24px;
                    height: 24px;
                    transform:translate(8px, -50%);
                }
            }

            .entryTitle2 {
                font-size: 32px;
                margin-bottom: 12px;
                position: relative;
                color: #064004;
                font-family: "Alegreya SC", serif;
                font-weight: 400;
                font-style: normal;
                &:before {
                    content: '';
                    position: absolute;
                    width: 8px; 
                    height: 8px;
                    border: 4px solid #ffffff;
                    background-color: #1d1d1d;
                    border-radius: 100%;
                    top: 50px;
                    transform: translateY(-50%);
                    left: -63px;
                    z-index: 1000;
                }
                &.big:before {
                    width: 24px;
                    height: 24px;
                    transform:translate(8px, -50%);
                }
            }

            .historyBody {
                color:#064004;
                position: relative;
                right: 80px;
                p {
                    line-height: 1.4em;
                    margin-bottom: 130px;
                    font-family: "Amiri", serif;
                    font-weight: 400;
                    font-style: normal;
                    text-align: justify;
                    width: 400px;
                }
            }
            &:nth-child(2n) {
                text-align: left;
                float: right;
                .entryTitle {
                    &.before {
                        left: -63px;
                    }
                    &.big:before {
                        transform: translate(-8px, -50%);
                    }
                }
            }

            .historyBody2 {
                color:#064004;
                p {
                    line-height: 1.4em;
                    margin-bottom: 130px;
                    font-family: "Amiri", serif;
                    font-weight: 400;
                    font-style: normal;
                    text-align: justify;
                    width: 400px;
                }
            }
            &:nth-child(2n) {
                text-align: left;
                float: right;
                .entryTitle {
                    &.before {
                        left: -63px;
                    }
                    &.big:before {
                        transform: translate(-8px, -50%);
                    }
                }
            }
        }
    }
}

.historyImage {
    position: absolute;
    right: -70px;
    top: 142px;
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
}

.historyImage2 {
    position: absolute;
    left: -55px;
    top: 420px;
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
}

.historyImage3 {
    position: absolute;
    right: -70px;
    top: 675px;
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
}

.historyImage4 {
    position: absolute;
    left: -55px;
    top: 910px;
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
}

.historyImage img {
    width: 100%;
    height: auto;
}

.historyImage2 img {
    width: 100%;
    height: auto;
}

.historyImage3 img {
    width: 100%;
    height: auto;
}

.historyImage4 img {
    width: 100%;
    height: auto;
}

.gridTable {
    background-color: #A6BEAC;
    margin: 0;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    height: 117vh;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
  }
  
  .gridItem {
    padding: 15px;
    text-align: center;
    max-width: 200%;
    background-color: #D7D0C8;
  }

  
  .gridImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gridImage img {
    max-width: 360px;
    max-height: 340px;
  }
  
  .gridTitle {
    font-weight: bold;
    font-size: 35px;
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
    color: #064004;
  }
  
  .gridContent {
    font-size: 15px;
    text-align: center;
    padding: 12px;
    margin-top: 5px;
    font-family: "Amiri", serif;
    font-weight: 400;
    font-style: normal;
  }

.structureContent {
    background-color: #D7D0C8;
    margin: 0;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    height: 105vh;
}

.structureTitle {
    text-align: center;
    font-size: 40px;
    color: #064004;
    position: relative;
    top: -30px;
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
}

.structureImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.structureImage img {
    width: 80%;
    height: auto;
}