body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #D7D0C8;
}
* {
    scroll-behavior: smooth;
}

/* NAVTOP SECTION */
.Atitlelogo {
    color: white;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75%;
    line-height: 1;
    padding-right: 1%;
    margin-left: 0.2%;
    text-shadow: black 1px 2px 3px;
    border-right: #006400 solid 3px;
}
.Vtitlelogo {
    position: relative;
    top: 25%;
}
.AtitlelogoV {
    font-family: "Allan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80%;
    position: relative;
    top: 10%;
}
.imgLogo {
    width: 60px;
    height: 60px;
    padding-top: 7%;
}
.topNavContainer {
    display: flex;
    background-color: #064004;
    box-shadow: rgba(0, 0, 0, 0.584) 0px 3px 5px;
}
.topNavBtnHolder {
    display: flex;
    font-family: "Gideon Roman", serif;
    font-weight: 400;
    font-style: normal;
}
.topNavBtn {
    font-size: 170%;
    margin-top: 2%;
    margin-left: 20%;
    padding: 1.5%;
    height: 50%;
}
.topNavBtn:hover {
    background-color: #a6beac9c;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 900px) {
    .imgLogo {
        width: 55px;
        height: 55px;
        padding-top: 7%;
    }
    .Atitlelogo {
        font-size: 65%;
    }
    .topNavBtn {
        margin-left: 5%;
        font-size: 150%;
    }
}
/* END OF NAVTOP SECTION */

/* CONTAINER 1 */
.container1 {
    height: 100vh
}
.welcomeTitle {
    font-family: "Alike Angular", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 350%;
    color: #064004;
    padding-top: 3%;
    margin-left: 18%;
}
.dashboardholder {
    display: flex;
    padding: 1% 10%;
}
.imgWelcome {
    width: 50%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.619) 3px 3px 10px;
}
.welcomeInfo {
    margin-left: 3%;
    line-height: 1.7;
    font-size: 130%;
    text-align: justify;
}
@media screen and (max-width: 900px) {
    .container1 {
        height: 90vh;
    }
    .welcomeTitle {
        font-size: 280%;
        margin-left: 10%;
    }
    .imgWelcome {
        position: relative;
        right: 10%;
        width: 60%;
        height: 23em;
    }
    .welcomeInfoHolder {
        font-size: 80%;
        width: 150%;
        position: relative;
        right: 8%;
    }
    .welcomeInfo {
        width: 130%;
    }
}
/* END OF CONTAINER 1 */

/* CONTAINER 2 */
.container2 {
    height: 100vh
}
.WICholder {
    display: flex;
}
.WICleftHolder{
    background-color: #A6BEAC;
    border-radius: 20px;
    margin: 2%;
    padding: 3%;
    width: 80%;
}
.WICtitle {
    color: #064004;
    text-align: left;
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    line-height: 1;
}
.WICinfo {
    font-size: 110%;   
    line-height: 1.5;
    text-align: justify;
}
.WICrightHolder {
    background: url(what\ is\ cvdc.jpg);
    background-size: cover ;
    margin: 2%;
    border-radius: 20px;
}
.WICtitleV {
    font-size: 300%;
    color: #064004;
    text-align: left;
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 70%;
}
.WICinfoV {
    font-size: 110%;
    line-height: 1.5;
}
.WICrightC {
    padding: 3%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #A6BEAC;
    background: #a6beacac;
    backdrop-filter: blur(5px);
    color: #042503;
}
@media screen and (max-width: 900px) {
    .container2 {
        height: 100vh
    }
    .WICholder {
        display: flex;
    }
    .WICleftHolder{
        background-color: #A6BEAC;
        border-radius: 15px;
        margin: 2%;
        padding: 3% 5%;
        width: 50%;
    }
    .WICtitle {
        color: #064004;
        text-align: left;
        font-family: "Alegreya SC", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 200%;
        line-height: 1;
    }
    .WICinfo {
        font-size: 110%;   
        line-height: 1.1;
        text-align: justify;
    }
    .WICrightHolder {
        background: url(what\ is\ cvdc.jpg);
        background-size: cover ;
        margin: 2%;
        border-radius: 20px;
    }
    .WICtitleV {
        font-size: 250%;
        color: #064004;
        text-align: left;
        font-family: "Alegreya SC", serif;
        font-weight: 400;
        font-style: normal;
        margin-left: 58%;
    }
    .WICinfoV {
        font-size: 110%;
        line-height: 1.5;
    }
    .WICrightC {
        padding: 3%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #A6BEAC;
        background: #a6beacac;
        backdrop-filter: blur(5px);
        color: #042503;
    }
}
/* END OF CONTAINER 2 */

/* CONTAINER 3 */
.container3 {
    height: 120vh;
}
.GSCimg {
    background: url(pic.png);
    width: 70%;
    height: 70%;
    z-index: -1;
    position: absolute;
    margin-top: 0%;
    left: 30%;
}
.GSCcontainer {
    padding-top: 3%;
}
.GSCtitle, .GSCtitleC, .GSCratitle{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
    padding: 0.5%;
    color: #064004;
    z-index: -1;
    margin-left: 0%;
    background-color: #a6beacb3;
}
.GSCholder {
    margin-top: 10%;
}
.GSCtitle {
    width: 30%;
}

.GSCtitleC {
    width: 15%;
    padding: 0.5%;
    margin-left: 0%;
}
.GSCratitle {
    font-size: 80%;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    width: 25%;
    padding: 0.5%;
    color: white;
}
.GSCinfoHolder {
    margin-top: 16%;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    padding: 3%;
    text-align: justify;
}
.GSCinfo {
    background-color: #A6BEAC;
    padding: 2%;
}
@media screen and (max-width: 900px) {
    .container3 {
        height: 120vh;
    }
    .GSCimg {
        background: url(pic.png);
        width: 65%;
        height: 65%;
        z-index: -1;
        position: absolute;
        left: 35%;
    }
    .GSCcontainer {
        margin-top: 10%;
    }
    .GSCtitle, .GSCtitleC, .GSCratitle{
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 200%;
        padding: 1%;
        color: #064004;
        z-index: -1;
        margin-left: 5%;
        background-color: #a6beacb3;
    }
    .GSCtitle {
        width: 70%;
        text-align: center;
    }
    
    .GSCtitleC {
        width: 40%;
        padding: 0.5%;
        text-align: center;
        margin-left: 10%;
    }
    .GSCratitle {
        font-size: 100%;
        font-family: "Cardo", serif;
        font-weight: 400;
        font-style: normal;
        width: 55%;
        padding: 0.5%;
        text-align: center;
        color: white;
    }
    .GSCinfoHolder {
        margin-top: 16%;
        font-family: "Cardo", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 110%;
        padding: 8% 5%;
        text-align: justify;
    }
    .GSCinfo {
        background-color: #A6BEAC;
        padding: 2%;
        line-height: 1.2;
        color: #042503;
    }
}
/* END OF CONTAINER 3 */

/* CONTAINER 4 */
.container4 {
    height: 100vh;
}
.CPholder {
    display: flex;
}
.CPimg {
    width: 50%;
    height: 25em;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.466) -5px 7px 10px;
}
.CPtitle, .CPinfo {
    padding: 6%;
}
.CPtitle {
    text-align: center;
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
    color: #064004;
    font-size: 200%;
    line-height: 0.5;
}
.CPinfo {
    color: black;
    text-align: justify;
    font-size: 60%;
    line-height: 1.5;
}
@media screen and (max-width: 900px) {
    .container4 {
        height: 70vh;
    }
    .CPholder {
        display: flex;
    }
    .CPimg {
        width: 50%;
        height: 20em;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.466) -5px 7px 10px;
    }
    .CPtitle, .CPinfo {
        padding: 0% 10%;
    }
    .CPtitle {
        text-align: center;
        font-family: "Alegreya SC", serif;
        font-weight: 400;
        font-style: normal;
        color: #064004;
    }
    .CPtitleHolder {
        position: relative;
        right: 45%;
        width: 200%;
        font-size: 80%;
        line-height: 2;
    }
    .CPinfo {
        position: relative;
        right: 19%;
        color: black;
        text-align: justify;
        font-size: 50%;
        width: 125%;
        line-height: 1.3;
    }
}
/* END OF CONTAINER 4 */

/* CONTAINER 5 */
.container5 {
    height: 100vh;
}
.MinfoList {
    padding: 1%;
}
.Minfotitle {
    text-align: left;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: #064004;
    font-size: 150%;
    box-sizing: border-box;
    margin-left: 20%;
}
.Minfo {
    background-color: #A6BEAC;
    padding: 2.2%;
    margin-left: 25%;
}
@media screen and (max-width: 900px) {
    .container5 {
        height: 100vh;
    }
    .MinfoHolder {
        position: relative;
        bottom: 10%;
    }
    .MinfoList {
        padding: 1%;
    }
    .Minfotitle {
        text-align: left;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        color: #064004;
        font-size: 120%;
        box-sizing: border-box;
        margin-left: 20%;
    }
    .Minfo {
        background-color: #A6BEAC;
        padding: 2.2%;
        margin-left: 25%;
    }
}
/* END OF CONTAINER 5 */

/* CONTACT SECTION */
.contactF {
  background: url(sectionCol.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
.infoCt {
  display: flex;
  margin: 4.3% 4%;
  padding: 3%;
  column-gap: 20%;
  text-align: center;
  color: white;
  position: relative;
  font-size: 130%;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: black 5px 3px 5px;
  line-height: 0.8;
  width: 70%;
}

.ctTxtinfo {
 width: 100%;
}
  .imgsG {
    display: flex;
    column-gap: 5%;
    position: relative;
    top: 5%;
    margin-left: 10%;
  }
  .mainBld, .Gmap {
    height: 25em;
    border-radius: 10px;
    width: 40%;
  }
@media screen and (max-width: 900px) {
    .contactF {
        background: url(sectionCol.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
      }
      .infoCt {
        display: flex;
        margin: 10% 5%;
        padding: 3%;
        column-gap: 15%;
        text-align: center;
        color: white;
        position: relative;
        font-size: 110%;
        font-family: "Cardo", serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: black 5px 3px 5px;
        line-height: 0.8;
    }
    .mainBld, .Gmap {
        height: 20em;
        border-radius: 10px;
        width: 40%;
      }
}
/* END OF CONTACT SECTION */

/* BACK TO TOP BUTTON */
  .bck2top {
    position: fixed;
    bottom: 20px;
    float: right;
    left: 95%;
    background-color: rgba(0, 0, 0, 0.429);
    color: white;
    padding: 0.5%;
    font-size: 100%;
    border-radius: 4px;
  }
  .bck2top:hover {
    background-color: #a6beac4d;
    color: #a6beac4d;
  }
/* BACK TO TOP BUTTON */
