body {
    margin: 0;
    padding: 0;
    background-color: #D7D0C8;
    min-height: 100vh;
    width: 100%;
}

.topNav {
    background-color:#064004;
}
.topNavO {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.topNavBtn {
    color: white;
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 1.8em;
    padding-top: 0.7em;
    position: relative;
    right: 2em;
    text-shadow: black 0px 3px 4px;
}

.apply-nav {
    margin-top: -3.5%;
}

.apply-nav a {
    padding: 10px 20px;
    background-color: #064004;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 46%;
    margin-top: 40%;
}

.apply-nav a:hover {
    background-color: green;
}

.ApplicationRequirements {
    margin: 5px;
    border: 1px solid #000;
    float: left;
    width: 180px;
}

.ApplicationRequirements:hover {
    border: 1px solid #777;
}

.ApplicationRequirements img {
    width: 100%;
    height: auto;
}

